.dashboard{
    background-color: #6D98BA;
    text-align: -webkit-center;
    padding-block: 40px;
    min-height: 90vh;
}
.dashboard-title{
    color: aqua;
    font-size: 80px;
    text-align: center;
}
.searchbar{
    background-color: #C17767;
    border-radius: 20%;
    width:fit-content;
    min-width: 30vw;
    padding: 10px;
    font-size: 30px;
    margin-block: 20px;
}

.create-button{
    background-color: #C17767;
    border-radius: 20%;
    cursor: pointer; 
    width:fit-content;
    min-width: 30vw;
    padding: 10px;
    font-size: 30px;
    margin-block: 20px;
}

.create-button:hover {
    background-color: #D9D9D9;
}

.bubble-cards{
    background-color: #6D98BA;
    border-radius: 2%;
    min-height: 400px;
    width: 80vw;
}