.welcome{
    width: 100vw;
}
.hero {
    background-image: url('../../../public/assets/images/bg.jpeg');
    /* background-color: blue; */
    opacity: 0.7;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    top: 10vh;
}

.hero-logo{
    top: 20vh;
    left: 10vw;
    height: 150px;
    width: 250px;
    position: absolute;
}

.hero-box{
    /* background-color: #D3B99F; */
    background: linear-gradient(to right, #D9D9D9, rgba(0, 255, 0, 0));
    position: absolute;
    padding: 20px;
    opacity: 0.7;
    top:50vh;
    left:10vw;
    width: 70vw;
    height: 25vh;
}

.hero-text{
    font-size: 16px;
    font-family: sans-serif;
}

.join-button {
    background-color: #6D98BA; 
    color: #210203; 
    border: 10px; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 4px; 
    font-size: 25px; 
    position: absolute;
    height: 8vh;
    width: 8vw;
    top: 85vh;
    left: 85vw;
  }
  
.join-button:hover {
    background-color: #D9D9D9;
}

.welcome-section{
    position: relative;
    left:10vw;
    right:10vw;
    top:5vh
}

.section-title{
    position: relative;
    display: flex;
} 

.section-title-bullet{
    position: relative;
    height: 50px; 
    width: 50px; 
    background-color: #6D98BA;
    border-radius: 50%;
    right: 2vw; 
}

.section-title-text{
    font-size: 25px;
    color: #210203;  
}